{% extends "blog/base.html" %}
{% block content %}


<!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Nuestra historia
                    <small>It's Nice to Meet You!</small>
                </h1>
                <br />
            </div>
        </div>
        <div class="row" style="background-color: white;">
          <div class="col-md-8">
          <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                        class="embed-responsive-item"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5504.7603239680575!2d-58.442978615223446!3d-34.602767834508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca0c73aae605%3A0x63e245a843d350f6!2sAcevedo+65%2C+Cdad.+Aut%C3%B3noma+de+Buenos+Aires!5e0!3m2!1ses!2sar!4v1447022984788"
                        width="90%"
                        height="450"
                        frameborder="0"
                        style="border:0"
                        scrolling="no"
                        allowfullscreen>
                        </iframe>

</div>

          </div>
          <div class="col-md-4" >
              <br>
              <address>
                <strong>Ebanisteria, Inc.</strong><br>
                Acevedo 65<br>
                Buenos Aires, CA 94103<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
              </address>

              <address>
                  <strong>Full Name</strong><br>
                  <a href="mailto:#">first.last@example.com</a>
                </address>
          </div>
    </div>

{% endblock %}
