{% extends "blog/base.html" %}
{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-8">

            <!-- Images  -->
            <ul>
                <div class="title">{{ album.title }}</div>
                <ul>
                    {% for img in images.object_list %}
                        <div class="date">
                            <p>published: {{ image.image }}</p>
                        </div>
                        <a href="{{  img.image.url  }}" class="thumbnail"><img border="0" alt=""
                            src="{{ img.image.url }}" width="250" class="img-responsive"/></a>
                            {{ image.description|linebreaks }}
                    {% endfor %}
                </ul>
            </ul>

        </div>
    </div>
</div>

{% endblock %}
