<a href="{{ backurl }}">&lt;&lt; back</a>
<!-- Image -->
<ul>
    {% if image.title %}
        <div class="title">{{ image.title }}</div>
    {% endif %}

    <ul>
        <img border="0" alt="" src="{{ media_url }}{{ image.image.name }}" width="900" class="img-responsive" />
    </ul>
</ul>
