{% extends "blog/base.html" %}
{% block content %}



<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.pub_date }}</p>
                    </div>
                    <h1><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaks }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
